/*main style*/

:root{
--orange: #ff9b32;
--blue: #006eca;
}

html {
  background-color: var(--blue);
  font-family: "akagi pro", "proxima nova", sans-serif;
  color: white;
  height: 100vh;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

body {
  
}

#container {
  width: 550px;
  margin-left: 130px;
  margin-right: 5%;
  margin-top: 12vh;
  transition: .3s;
  font-family: "akagi pro";
}

#k-circle {
  width: 60px;
    position: absolute;
    margin-left: 20px;
    margin-top: 9px;
    vertical-align: center;
}

#k-circle:hover {
    animation: rotate 1s infinite;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 70px;
  background-color: none;
  overflow: hidden;
}

nav {
  top: 20px;
  right: 2%;
  position: absolute;
}

.navbar {
  font-size: 16px;
  margin: 10px 16px;
  letter-spacing: 2px;
  font-family: lexia;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navbar:hover {
  color: var(--orange);
}

h1 {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0px 0px 10px 0px;
  color: white;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 1px;
  margin: 0;
}

#role {
/*  border-bottom: solid 2px var(--orange);*/
  cursor: pointer;
  background-color: var(--orange);
  padding: 0px 10px;
}

#role-small {
  cursor: pointer;
}

#role:hover{
  color: var(--blue);
  transition: .3s;
}

#role-small:hover {
  color: var(--orange);
    transition: .3s;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

#what-else {
  color: var(--orange);
}

#what-else:hover {
  color: white !important;
  transition: .3s;
}

.underline-role {
   border-bottom: solid 1px;
   border-color: var(--orange);
   padding-bottom: 1px;
}

.link {
  cursor: pointer;
}

#role-description {
  padding-top: 20px;
  margin-bottom: 30px;
}

#text-button {
  background-color: white;
  border-radius: 4px;
  padding: 8px 14px;
  border-bottom: none;
  color: var(--blue);
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

#text-button:hover{
  background-color: var(--orange);
  transition: .3s;
}

#refresh {
    position: relative;
    left: -40px;
    top: 174px;
    margin: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#refresh:hover #refresh-icon{
  animation: rotate .5s;
}

img {
  max-width: 100%;
}



/*animation*/

.punctumotion {
  display: inline-block;
  width: .4em;
  font-size: 1.1em;
  line-height: 1em;
}

.punctumotion-large {
  display: inline-block;
  width: .3em;
  font-size: 1em;
  line-height: 1em;
  margin-left: -1px !important;
}

.updown {
  animation: up-down 1s infinite;
  margin-left: 1px;
}

.nervous {
  animation: pacing linear 1s infinite;
  transform-origin: 50% 50%;
  margin-right: .5em;
}

.angry{
  animation: pacing linear .2s infinite;
  transform-origin: 50% 50%;
  margin-right: .5em;

}

.hyper {
  animation: hyper linear 1s infinite;
  transform-origin: 50% 50%;
  margin-right: .5em;
}

.confused {
  animation: confused linear 2.5s infinite;
  transform-origin: 50% 50%;
  margin-right: .5em;

}

.anxious {
  animation: flash linear .9s infinite;
  transform-origin: 50% 50%;
}

.urgent {
  animation: flash linear .33s infinite;
  transform-origin: 50% 50%;
}

.sad {
  animation: droop 2.5s linear infinite;
  transform-origin: 50% 90%;
  margin-right: .3em;

}

.sarcastic {
  animation: roll 1.5s cubic-bezier(0.6, 0.2, 1, 1) infinite;
  transform-origin: 50% 50%;
  /*need to figure out position*/
  margin-right: .5em;
  margin-left: 4px;

}

.ellipsis {
  animation: ellipsis linear 3s infinite;
  transform-origin: 50% 50%;
  margin-right: .8em;
}

.bulge {
  animation: bulge linear 1.4s infinite;
  transform-origin: 50% 50%;
}

.drop {
  animation: drop linear 1.1s infinite;
}

.check {
  animation: check linear 1.2s infinite;
  margin-right: .4em;
}

.woop {
  animation: woop linear 1.3s infinite;
  margin-right: .2em;
  transform-origin: -50% 40%;
}




/*animators*/

@keyframes rotate{
  0% {
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(360deg);
  }

  100% {
    transform:rotate(360deg);
  }
}

@keyframes pacing{
  0% {
    transform:  translate(0,0)  ;
  }

  50% {
    transform:  translate(150%,0)  ;
  }
  
  100% {
    transform:  translate(0,0)  ;
  }
}


@keyframes up-down {
  0% {
    transform:translateY(0);
    animation-timing-function: ease-in;
  }
  
  5% {
    transform:translateY(5%);
  }
  
  25% {
    transform:translateY(-60%);
    animation-timing-function: ease-out;
  }
  
  65% {
    transform:translateY(0);
    animation-timing-function: ease-in;
        
  } 
}

@keyframes hyper {
  /*random??*/

  0% {
    transform:  translate(0,0)  ;
  }

  10% {
    transform:  translate(200%,-30%)  ;
  }
  
  30% {
    transform:  translate(20%,-50%)  ;
  }

  40% {
    opacity: 0;
  }

  45% {
    transform:  translate(200%,30%)  ;
    opacity: 1;
  }

  50% {
    transform:  translate(0,-30%)  ;
    opacity: 1;
  }

  65% {
    transform:  translate(130%,20%)  ;
    opacity: 0;
  }
  
  80% {
    transform:  translate(40%,-50%)  ;
  }

  95% {
    transform: translate(80%,0)  ;
  }


}

@keyframes confused {
0% {
    transform:  translate(0,0)  ;
    opacity: 0;
  }

 20% {
  transform: translate(20%, -20%);
 } 

 40% {
  opacity: 1;
  transform: rotate(10deg) translate(70%, -35%);
 } 

 75% {
  transform: rotate(-60deg)translate(55%, -50%);
    opacity: 0;
 }

 85% {
  opacity: 0;
 }

 100% {
  opacity: 0;
 }

}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes droop {
  0% { 
    transform:rotate(0deg);
    opacity: 0;
  }
  
  50% { 
    transform:rotate(0deg);
    opacity: 1;
  }
 
  60% { 
    opacity: 1;
  }


  80% { 
    transform:rotate(120deg) translate(-10%, -10%);
    opacity: 0;
    animation-timing-function: ease-in;
  }
  

  100% { 
    opacity: 0;
  }
}



@keyframes roll {

  from {
    transform: rotate(360deg)
               translate(-5px) 
               rotate(-360deg);
  }
  to {
    transform: rotate(0deg)
           translate(-5px)
           rotate(0deg);

  }

}

@keyframes ellipsis {
  0% {
    opacity: 1;
    transform:translateX(0);
  }

  10% {
    opacity: 1;
  }
  
  24% {
    transform:translateX(0%);
    opacity: 0;
  }

  25% {
    transform:translateX(80%);
    opacity: 0;
  }

  33% { 
    opacity: 1;
  }

  43% { 
    opacity: 1;
  }

  57% { 
    transform:translateX(80%);
    opacity: 0;
  }

  58% { 
    transform:translateX(160%);
    opacity: 0;
  }

  66% { 
    opacity: 1;
  }

  76% { 
    opacity: 1;
  }

  90% { 
    transform:translateX(160%);
    opacity: 0;
  }

  100% { 
    opacity: 0;
    transform:translateX(0);
  }
}



@keyframes bulge {
  0% {
    -webkit-text-stroke: none;
  }

  8% {
    -webkit-text-stroke: .04em;
  }
  10% {
    -webkit-text-stroke: .09em;
  }

  15% {
    -webkit-text-stroke: 0px;
  }

  100% {
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    transform:translateY(-60%);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  
  
  25% {
    transform:translateY(5%);
    animation-timing-function: ease-out;

  }
  
  30% {
    transform:translateY(-5%) rotate(1deg);
    opacity: 1;
  } 
  33% {
    transform:translateY(0%) rotate(-1deg);
  } 
  36% {
    transform:rotate(0deg);
  } 

  100% {
    transform: translateY(0%);
  }
}

@keyframes check {
  0%{
    opacity: 0;
  }

  20% {
    transform:translateY(0%);
    opacity: 1;
  }

  40% {
    transform: translate(20%, 20%);
  }

  60% {
    transform: translate(140%,-30%);
  }

  70% {
    opacity: 0;
  }

  100% {
    transform: translate(130%,-30%);
    opacity: 0;

  }
}

@keyframes woop {
  0% { 
    transform:rotate(0deg);
    opacity: 0;
  }
  
  30% { 
    transform:rotate(0deg);
    opacity: 1;
  }
 
  40% { 
    opacity: 1;
    transform: translateX(10%);
  }


  60% { 
    transform:rotate(-45deg);
    opacity: 1;
  }

  85% {
    opacity: 0;
    transform:translateY(-30%) rotate(-45deg);
  }
  

  100% { 
    opacity: 0;
  }



}