:root{
--orange: #ff9b32;
--blue: #006eca;
}

html {
  background-color: white;
  font-family: "akagi pro", "proxima nova", sans-serif;
  color: white;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-family: "akagi pro", "proxima nova", sans-serif;

}

body {
	color: #222;
	font-size: 18px;
	margin: 0;
	font-family: "akagi pro", "proxima nova", sans-serif;

}

.container {
	width: 100%;
	font-family: "akagi pro", "proxima nova", sans-serif;

}

h1, h2, h3, h4, h5, p{
	width: 700px;
	margin-left: 25%;
	font-family: "akagi pro", "proxima nova", sans-serif;
}

h1 {
	color: #222;
	font-size: 48px;
	margin-bottom: 0px;
	font-weight: 800;
	font-family: "akagi pro", "proxima nova", sans-serif;


}

h2 {
	color: #222;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 10px;
	font-family: "akagi pro", "proxima nova", sans-serif;

}

h3 {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
	font-weight: 500;
	margin-top: 20px;
	font-family: "akagi pro", "proxima nova", sans-serif;

}

#top-descriptor {
	color: #777;
	margin-top: 4px;
}



h4 {
	font-size: 22px;
	font-weight: 400;
	width: 50%;
	margin-top: 20px;
	color: #777;
	line-height: 1.4em;
	font-family: "akagi pro", "proxima nova", sans-serif;

}

p {
	margin-top: 10px;
	margin-bottom: 30px;
	line-height: 1.5em;
	font-size: 18px;
	font-family: "akagi pro", "proxima nova", sans-serif;

}

ul {
	margin-left: 27%;
	font-family: "akagi pro", "proxima nova", sans-serif;

}

li {
	margin-bottom: 16px;
}

.page {
	margin-top: 110px;
}

.pullquote {
	font-size: 28px;
	font-weight: 100;
	line-height: 1.2em;
}

.wide-image{

    margin: 30px auto;
    width: 1000px;
    display: block;
}

.small-image {
	width: 600px;
	margin: 20px auto;
	display: block;
}

.double-photo {
	margin: 60px auto;
	width: 75%;
	padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

}

.half-image {
  width: 40%;
  position: relative;
    text-align: center;
}

.half-image img{
	width: 100%;
}


iframe {
	width: 494;
	height: 1010;
	margin: auto;
	display: block;
}

@media (max-width: 1150px) {

	h1, h2, h3, h4, h5, p {
	width: 80%;
	margin-left: 11%;
	}

	ul {
		margin-left: 13%;
	}

	h4 {
		width: 70%;
	}

	.wide-image{
/*		margin-left: -7%;*/
		width: 100%;
	}

	h1 {
		font-size: 42px;
		line-height: 1.1em;
	}

	.page {
		margin-top: 120px;
	}


}

@media (max-width: 900px) {

	iframe {
		width: 50%;
		height: auto;
	}

	.small-image {
		width: 80%;
	}
}


@media (max-width: 500px) {

	h1, h2, h3, h4, h5, p {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	h1 {
		font-size: 36px;
	}

	h3 {
		font-size: 18px;
		letter-spacing: 1px;
	}

	h4 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	ul {
		margin-left: 5%;
		margin-right: 3%;
	}


	.pullquote {
		font-size: 24px;
	}

	.double-photo {
		margin-top: 10px;
	}

	.page {
		width: 100%;
	}

	.double-photo {
	width: 90%;
	margin-left, margin-right: 5%;
	 justify-content: space-between;
	}

	.half-image {
		width: 49%;
	}
}






/*HEADER*/

#k-circle:hover {
    animation: rotate 1s infinite;
}

.k {
  fill: white;
}

#k-circle {
  width: 50px;
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    vertical-align: center;
}

.logo-circle {
	fill: var(--orange);
}


header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 70px;
  overflow: hidden;
  background: rgba(0,110,202,.5);
  z-index: 600;
}

nav {
  top: 10px;
  right: 20px;
  position: absolute;
  z-index: 10000;
}

.navbar {
  font-size: 16px;
  padding: 10px 16px;
  letter-spacing: 1px;
  font-family: "akagi pro", "proxima nova", sans-serif;
  font-weight: 600;
  color: white;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  transition: .3s;
}

.navbar:hover {
  color: var(--orange);
  cursor: pointer;     
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transition: .3s;
}

#about-svg {
  width: 30px;
  height: 30px;
  position: relative;
  transition: .3s;
}

#work-svg {
  width: 30px;
  height: 30px;
  position: relative;
  transition: .3s;
}

#bottom-svg {
  width: 30px;
  height: 30px;
  position: relative;
  transition: .3s;
}

/*end header*/