html {
	background: white;
	font-family: "Proxima Nova";
	height: auto;
	transition: .3s;
}

body {
	margin: 0;
	height: 100%;
	overflow-y: scroll;
}

a {
	color: inherit;
	text-decoration: none;
		transition: .3s;
}

#topbar {
	position: fixed;
	top: 0;
	height: 70px;
	background-color: #F2F2F2;
	width: 100%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	z-index: 200;
}

h1 {
	line-height: 1em;
	margin-bottom: 0;
	font-size: 1.2em;
}

h2 {
	font-size: .8em;
	text-transform: uppercase;
	margin-top: 6px;
	font-weight: 500;
}

#header {
	margin-left: 9%;
}

#back {
	top: 18px;
	left: 10px;
	position: absolute;
	color: #888;
	cursor: pointer;
}

#back:hover {

	color: black;
}

#text {
	margin-top: 160px;
	margin-left: 9%;
	margin-right: auto;
	font-size: 1.2em;
	line-height: 1.8em;
	width: 50%;
	margin-bottom: 300px;
	font-family: georgia;
}

p:first-child:first-letter {
	float: left;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px; 
}

#photos-bar {
	position: fixed;
	bottom: 0;
	height: 100px;
	z-index: 50;
	box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
	background-color: #F2F2F2;
}

#photos {
	white-space: nowrap;
	width: 100vw;
	overflow-x: scroll;
	margin-right: 80px;
}

#photos-width {
	width: fit-content;
}

.photo{
	display: inline-block;
		position: relative;
}

.photo img{
	height: 75px;
	padding: 10px 10px 0px 10px;
}

.photo p{
	display: none;
	font-size: .6em;
	padding-left: 10px;
	margin: 0;
}

#related {
/*	display: none;*/
	top: 70px;
	right: -320px;
	position: fixed;
	z-index: 1;
	overflow-y: scroll;
	height: calc(100% - 200px);
	background-color: #F2F2F2;
	padding: 20px 0px 20px 40px;
	width: 320px;
	box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2);
}

#related::-webkit-scrollbar { 
    display: none; 
}

#photos::-webkit-scrollbar { 
    display: none; 
}

#books {
	padding-bottom: 20px;


}

.book {
	height: fit-content;
	background-color: none;
	transition: .3s;
	padding: 10px;
	line-height: 0;
	color: #888;
}

.book:hover {
	background-color: white;
}

#related img{
	width: 85px;
	display: inline-block;
	cursor: pointer;
}

#related img:hover{
	opacity: .5;
}

h3 {
	font-size: .8em;
	margin-top: 0px;
	cursor: pointer;
	line-height: 1em;
}

h4 {
	font-size: .6em;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	display: inline-block;
	margin: 0px;
	line-height: 1.3em;
}

h3:hover, h4:hover {
	color: #888;
}

h5 {
	font-size: .6em;
	text-transform: uppercase;
	font-weight: 200;
	border: solid 1px #888;
	padding: 4px 5px 3px 5px;
	display: inline-block;
	cursor: pointer;
	line-height: 1em;
}

h5:hover {
	background-color: #888;
	color: white;
}

#onward:hover {
	background-color: black;
}

.info {
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	width: 180px;
}

#related-button {
	top: 46vh;
	position: fixed;
	z-index: 400;
	cursor: pointer;
	right: 16px;
	color: #888;
}

h6 {
	font-size: 2em;
	font-weight: 100;
	margin: 0;
}

.underline {
	border-bottom: 1px solid #F2F2F2;
	padding-bottom: 2px;
	cursor: pointer;
}

.underline:hover {
	color: #F2F2F2;
}

