html {
	font-family: "soleil";
	color: #001F4D;
}

header a{
	color: #001F4D;
	text-decoration: none;
	display: inline-block;
	font-weight: 400;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 20px;
	line-height: 30px;
}

header a:hover{
	color: #fa0;
}

header h1{
	border-bottom: 3px solid #fa0;
	width: 128px;
	line-height: 30px;
	font-family: "lexia-n7", "lexia";
	font-weight: 800;
	margin: 0px;
}

header h1:hover{
	border-bottom: 3px solid #001F4D;
}

header {
	position: fixed;
	top: 0px;
	z-index: 2;
}

.navigation {
	display: inline-block;
	top: 5px;
	right: 30px;
	position: fixed;
	text-align: right;
	font-family: "lexia";
	font-size: 18px;
}

.navigation a{
	margin-right: 10px;
	letter-spacing: 2px;
	font-weight: 100;
}

#homepage{
	margin-top: 80px;
}

.index {
  line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   4px;
  -moz-column-count:    4;
  -moz-column-gap:      4px;
  column-count:         4;
  column-gap:           4px;  
}

.index img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding-top: 4px;
  position: relative;
}

/*.thumb {
	display: inline-block;
	max-width: 350px;
	vertical-align: top;
	padding-bottom: 6px;
	width: 31%;
}

.thumb img{
	display: inline-block;
	width: 100%;
}*/


.thumb img:hover{
	opacity: .1;
}

.thumb span{
	opacity: 0;
	width: 10%;
	position: absolute;
	text-align: left;
	vertical-align: top;
}

.thumb a:hover span{
	opacity: 1;
/*	background-color: #fa0;*/
	line-height: 100%;
	font-family: "lexia";
	font-weight: lighter;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h3 {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	font-size: 5vw;
}


h3 span{
	color: #fa0;
	/*background: rgb(0,31,77);*/
	padding: 10px;
	z-index: 0;
	text-align: left;
	font-size: 5vw;
}



.page {
	margin-top: 20px;
	padding-bottom: 150px;
}

.page img{
	width: 100%;
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px;
}

.title-page {
	margin-top: 100px;
}


#images-spacing {
	font-size: 0;
	margin-top: 60px;
	margin-bottom: 60px;
}

#images-spacing img{
	margin: 0;
}

#images-block {
	font-size: 0;
	margin-top: 60px;
	margin-bottom: 60px;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}

#images-block img{
	margin: 2%;
	display: inline-block;
	width: 46%;
	vertical-align: top;
}


.page p{
	padding-left: 20%;
	padding-right: 25%;
	font-size: 20px;
	line-height: 1.6em;
	font-weight: 200;
}

.page h2{
	padding-left: 20%;
	text-transform: uppercase;
	font-family: "lexia";
	font-weight: 600;
	letter-spacing: 1px;
	 -moz-font-feature-settings: "lnum";
   -webkit-font-feature-settings: "lnum";
	font-feature-settings: "lnum";
}

.page h1{
	padding-left: 20%;
	font-family: "lexia";
	font-weight: 800;
	font-size: 50px;
	margin-bottom: 20px;
}

.page a{
	font-weight: 600;
	color: #001F4D;
	border-bottom: 1px solid #fa0;
	text-decoration: none;
	line-height: 16px;
}

.page a:hover{
	color: #fa0;
}

.about {
	width: 30%;
	float: left;
	vertical-align: top;
}

.about img{
	margin: 0;
}

#about-text {
	margin-left: 20%;
	margin-top: 100px;
}

.motion {
	display: block;
	height: 70vh;
	padding-bottom: 60px;
}

#motion p{
	padding-bottom: 100px;
	padding-top: 
}

.page ul {
	padding-left: 25%;
	padding-right: 25%;
	font-size: 20px;
	line-height: 2em;
	font-weight: 200;
}

#three-across {
  -webkit-column-count: 3;
  -webkit-column-gap:   3px;
  -moz-column-count:    3;
  -moz-column-gap:      3px;
  column-count:         3;
  column-gap:           3px;  
}

#two-across{
  -webkit-column-count: 2;
  -webkit-column-gap:   12px;
  -moz-column-count:    2;
  -moz-column-gap:      12px;
  column-count:         2;
  column-gap:           12px;  
}

#n4lcover {
	padding-left: 15%;
	padding-right: 15%;
	width: 70%;
}

#phonesize {
	width: 74%;
	padding-left: 13%;
	padding-right: 13%;
}

#small {
	width: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

iframe {
	width: 100%;
	position: absolute;
	display: block;
}

#pranz1 {
	width: 35.3%;
}

#pranz2 {
	width: 63%;
	padding-left: 1%;
	float:right;
}


@media (max-width: 900px) {
	#about-text p{
		font-size: 16px;
		padding-right: 20%;
	}

	.index {
	  -moz-column-count:    3;
	  -webkit-column-count: 3;
	  column-count:         3;
	}

	.page p{
		padding-left: 5%;
		padding-right: 10%;
	}

	.page h2 {
		padding-left: 5%;
	}

}

@media (max-width: 600px) {
	.about {
		float: none;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
	}

	#about-text p{
		font-size: 16px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		padding-left: 0;
		padding-right: 20%;
	}

	#about-text {
		margin-top: 20px;
	}
}


@media (max-width: 450px) {
	.index {
	  -moz-column-count:    1;
	  -webkit-column-count: 1;
	  column-count:         1;
	}


	header .navigation a{
		margin: 0px 3px 0px 3px;
		display: block;
		letter-spacing: 1px;
	}

	.navigation {
		display: block;
		margin-top: 18px;
	}

	#work {
		display: none;
	}

	.page p{
		padding-left: 4%;
		padding-right: 2%;
		font-size: 16px;
	}

	.page h2 {
		padding-left: 4%;
	}

}
